  <h1>My lists</h1>

  <% @lists.each do |list| %>
  <div class="col-12 col-sm-6 col-md-4 mb-3">
    <%= link_to list_path(list), class: "text-decoration-none" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=image_cloudinary(list)%>)">
      <%# o image_cloudinary está no helpers/lists_helper para poder ser chamado em vários forms %>
        <%= list.name %>
      </div>
    <% end %>
  </div>
  <% end %>
